* {
  box-sizing: border-box;
}

body {
  background-color: #010202;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  max-width: 1146px;
  align-self: start;
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.logo {
  display: block;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user {
  display: flex;
  align-items: center;
}

.user-name {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  margin-right: 15px;
}

.app {
  background: linear-gradient(
    90deg,
    #010202 0%,
    #010202 50%,
    rgba(1, 2, 2, 0.2) 90.9%
  );
  min-height: 100vh;
  color: #fff;
  display: grid;
  justify-items: center;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
}

.video-container {
  position: absolute;
  z-index: -1;
  inset: 0px;
  overflow: hidden;
}

video {
  margin: auto;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  height: 100%;
}

.film {
  max-width: 1146px;
  align-self: center;
  width: 90%;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  opacity: 0.4;
  color: #e5e5e5;
  font-size: 16px;
  line-height: 140%;
}

.tags * {
  margin-right: 15px;
  margin-bottom: 10px;
}

.age {
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 1px 5px;
}

.description {
  max-width: 460px;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 36px;
}

.button {
  min-height: 44px;
  padding: 11px 26px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 140%;
  background-color: #2f2f2f;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-promary {
  background-color: #ea6e20;
  margin-right: 15px;
}

.button-default_container {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.button-text {
  margin-left: 10px;
}

.modal {
  display: none;
}

@media (max-width: 1200px) {
  .app {
  }
}

@media (max-width: 768px) {
  .app {
    background: url(../img/cover-image.jpg) no-repeat bottom center / 300px;
    padding-bottom: 400px;
  }

  video {
    display: none;
  }

  .description {
    font-size: 16px;
    max-width: 333px;
  }

  .film-logo {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .app {
    padding-bottom: 350px;
    background-size: 300px;
  }

  .button {
    margin-bottom: 10px;
  }

  .button-text {
    display: none;
  }

  .user-name {
    display: none;
  }
}
